body {
    font-family: 'Dosis', 'arial', sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    font-size: 20px;
    color: #5F6097;
}
h1 {
    font-weight: bold;
    font-size: 50px;
    color: white;
    padding-left: 100px;
    margin-bottom: 20px;
}
.title {
    height: 400px;
    /*background-color: #5F6097;*/
    display: flex;
    align-items: flex-end;
    margin: 0 20px;
    transition: 0.8s ease;
    background-image: url("../Ripley/images/class3.png");
    background-size: cover;
}
.title:hover {
    transition: 0.8s ease;
    background-image: url("../Ripley/images/alien.jpg");
    background-size: cover;
}
.studies {
    display: flex;
    justify-content: space-around;
}
.littlepix {
    height: 300px;
    width: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.studies img {
    height: 250px;
    margin-bottom: 15px;
    border: 1px solid #5F6097;
    border-radius: 15px 50px 30px;
}
.littlepix p {
    font-weight: bold;
}